/*---------------------
  Common
-----------------------*/

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    font-family: "Now Regular";
    -webkit-font-smoothing: antialiased;
}

.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #111111;
    font-weight: 400;
    font-family: "Rajdhani", sans-serif;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 15px;
    font-family: "Now Regular";
    color: #444444;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}

img {
    max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #e31b6d;
}

ul,
ol {
    padding: 0;
    margin: 0;
}


/*---------------------
  Key Frames
-----------------------*/

@keyframes popDown {
    0% {
        transform: translateY(-100px);
    }
}


/*---------------------
  Button
-----------------------*/

.button-color-white {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 12pt;
    margin: 5px 0 0 0;
    outline: 0;
    padding: 10px 30px;
    transition: all 0.5s;
}

.button-color-turquoise {
    cursor: pointer;
    background: transparent;
    border: 2px solid #04c2c9;
    color: #04c2c9;
    width: 200px;
    text-align: center;
    font-size: 12pt;
    margin: 5px 0 0 0;
    outline: 0;
    padding: 10px 30px;
    transition: all 0.5s;
    border-radius: 3px 15px 3px 15px;
}

.button-color-white:focus,
.button-color-white:hover {
    background-color: #04c2c9;
    border-color: #04c2c9;
}

.button-color-turquoise:focus,
.button-color-turquoise:hover {
    border: 2px solid #04c2c9;
    background-color: #04c2c9;
    color: #fff;
}

.primary-btn {
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    padding: 14px 25px 12px;
    color: #ffffff;
    background: #04c2c9;
    letter-spacing: 2px;
}

.primary-btn.border-btn {
    background: transparent;
    border: 2px solid #04c2c9;
    color: #111111;
}

.site-btn {
    font-size: 15px;
    color: #ffffff;
    background: #04c2c9;
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 14px 30px;
    width: 100%;
}


/*---------------------
  Section
-----------------------*/

.section-title {
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
}

.section-title.center-title {
    text-align: center;
}

.section-title h2 {
    font-size: 42px;
    color: #111111;
    font-weight: 700;
    text-transform: uppercase;
}

.section-title h1 {
    font-size: 100px;
    color: #f2f2f2;
    font-family: "Rockville Solid Regular";
    position: absolute;
    left: 0;
    top: -45px;
    width: 100%;
    z-index: -1;
}


/*---------------------
  About
-----------------------*/

#about {
    margin-top: 30px;
}

.about {
    padding-top: 0;
}

.about h1 {
    text-align: center;
    margin-bottom: 20px;
}

.about.about--page {
    padding-top: 80px;
    padding-bottom: 80px;
}

.about.about--page .section-title {
    margin-bottom: 28px;
}

.about.about--page .section-title h2 {
    line-height: 55px;
}

.about.about--page .about--text {
    padding-top: 15px;
}

.about.about--page .about--text p {
    color: #111111;
}

.about--text {
    padding-top: 70px;
}

.about--text p {
    margin-bottom: 35px;
}

#picture-of-me img {
    text-align: center;
    margin-top: 20px;
    margin-left: 70px;
    width: 70%;
    height: 70%;
}

#picture-of-me .my-position {
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
}

#contact-me:focus,
#contact-me:hover {
    color: #fff;
}


/*---------------------
  Portfolio
-----------------------*/

#portfolio {
    background-color: #f5f5f5;
    padding-bottom: 200px;
}

.portfolio h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}


/*---------------------
  Navigation
-----------------------*/

.nav-link {
    cursor: pointer;
    border: unset;
    background-color: #eeeeee;
}

.nav-link:focus,
.nav-link:hover {
    border: unset;
    background-color: #eeeeee;
}

.navbar-brand {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar {
    background-color: #eeeeee;
}

nav.fixed {
    bottom: inherit;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    animation: popDown 1.3s;
}

nav .active {
    color: #e31b6d;
}

.jumbotron {
    background-color: #eeeeee;
}

.white-divide {
    width: 100%;
    height: 126px;
    background-image: url(../img/white-divide.png);
    background-position: top center;
    background-size: 100% 126px;
    margin-top: -126px;
}

.white-divide-2 {
    width: 100%;
    height: 126px;
    background-image: url(../img/white-divide-2.png);
    background-position: top center;
    background-size: 100% 126px;
    margin-top: -126px;
}

.gray-divide-2 {
    width: 100%;
    height: 126px;
    background-image: url(../img/gray-divide-2.png);
    background-position: top center;
    background-size: 100% 126px;
    margin-top: -126px;
}

#contact-information {
    width: 100%;
    padding: 60px 0px 100px 0px;
    background: #444957;
    color: #aaaaaa;
    font-size: 17px;
    line-height: 27px;
}

#contact-information h6 {
    margin-top: 20px;
    font-size: 25px;
    color: #04c2c9;
}

#contact-information .fab {
    color: #ffffff;
    font-size: 40px;
    padding-right: 10px;
}

#contact-information .far,
#contact-information .fas {
    color: #ffffff;
    font-size: 40px;
}

.contact-info {
    color: #ffffff;
    margin-top: -3px;
    padding: 0px;
}

#copyright p {
    width: 100%;
    padding: 30px 0px 30px 0px;
    background-color: #2c3039;
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    color: #ffffff;
    margin: 0px;
}


/*---------------------
  Preloader
-----------------------*/

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid #eeeeee;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #04c2c9;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #aaaaaa;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid #eeeeee;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid #04c2c9;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid #aaaaaa;
        border-left-color: transparent;
    }
}


/*---------------------
  Hexagon
-----------------------*/

.hexagon .fas {
    font-size: 15px;
}

.hex-wrap {
    display: inline-block;
    height: 80px;
    position: relative;
    text-align: center;
    width: 80px;
}

.hexagon {
    background-color: #04c2c9;
    display: inline-block;
    height: 100%;
    width: calc(100% * 0.57735);
}

.hexagon:before {
    background-color: inherit;
    content: "";
    height: inherit;
    position: absolute;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    top: 0;
    transform: rotateZ(60deg);
    width: inherit;
}

.hexagon:after {
    background-color: inherit;
    content: "";
    height: inherit;
    position: absolute;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    top: 0;
    transform: rotateZ(-60deg);
    width: inherit;
}


/*---------------------
  Helper CSS
-----------------------*/

.section-title {
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
}

.section-title.center-title {
    text-align: center;
}

.section-title h2 {
    font-size: 42px;
    color: #111111;
    font-weight: 700;
    text-transform: uppercase;
}

.section-title h1 {
    font-size: 100px;
    color: #f2f2f2;
    font-family: "Rockville Solid";
    position: absolute;
    left: 0;
    top: -45px;
    width: 100%;
    z-index: -1;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.me {
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
    color: #fff;
}

.highlight {
    color: #e31b6d;
}

.highlight-turquoise {
    color: #04c2c9;
}

.header-divide-black {
    width: 50px;
    border-top: 3px solid #444957;
    height: 20px;
    margin-top: 18px;
    margin-bottom: 10px;
}

.header-divide-black-center {
    width: 100px;
    border-top: 3px solid #444957;
    height: 20px;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 10px;
}

.header-divide-white {
    width: 50px;
    border-top: 3px solid #ffffff;
    height: 20px;
    margin-top: 18px;
    margin-bottom: 10px;
}

#shooting-star,
#pt {
    height: 100%;
    width: 100%;
}

.canvas {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#welcome {
    padding: 100px;
    width: 100px;
}

#shooting-star .button {
    border: 2px solid #04c2c9;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    background: transparent;
    border: 2px solid #04c2c9;
    color: #04c2c9;
    font-size: 20pt;
    margin: 5px 0 0 0;
    outline: 0;
    padding: 10px 30px;
    transition: all 0.5s;
    border-radius: 3px 15px 3px 15px;
}

#shooting-star .button:focus,
#shooting-star .button:hover {
    border: 2px solid #04c2c9;
    background-color: #04c2c9;
    color: #fff;
}


/*---------------------
  Skills
-----------------------*/

.skill-bar-item {
    margin-top: 10px;
}

.skill-bar-item p {
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    color: #444957;
    margin-bottom: 10px;
}

.skill-bar-item .barfiller {
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    margin-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.skill-bar-item .barfiller .tip {
    margin-top: -32px;
    padding: 0;
    font-size: 15px;
    color: #04c2c9;
    background: transparent;
}

.skill-bar-item .barfiller .tip:after {
    display: none;
}


/*---------------------
  Bars
-----------------------*/

.barfiller {
    width: 100%;
    height: 12px;
    background: #fcfcfc;
    border: 1px solid #ccc;
    position: relative;
    margin-bottom: 20px;
    box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
}

.barfiller .fill {
    display: block;
    position: relative;
    width: 0px;
    height: 100%;
    background: #333;
    z-index: 1;
}

.barfiller .tipWrap {
    display: none;
}

.barfiller .tip {
    margin-top: -30px;
    padding: 2px 4px;
    font-size: 11px;
    color: #04c2c9;
    left: 0px;
    position: absolute;
    z-index: 2;
    background: #333;
}

.barfiller .tip:after {
    border: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent;
    border-width: 6px 6px 0 6px;
    content: "";
    display: block;
    position: absolute;
    left: 9px;
    top: 100%;
    z-index: 9;
}

#footer {
    margin-bottom: 0px;
}


/*---------------------
  Profile Card
-----------------------*/

header img {
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    width: 200px;
    border: 5px solid #fff;
}

aside {
    border-top: 0px solid #04c2c9;
    border-bottom: 0px solid #04c2c9;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    height: 240px;
    width: 250px;
    background: url(https://s-media-cache-ak0.pinimg.com/736x/3a/1f/02/3a1f02c10700daa80655a302c5a27acf.jpg);
    background-size: cover;
    overflow: hidden;
    box-shadow: 0 0 100px 10px #fff;
    transition: all ease 0.3s;
}

aside:hover {
    border-top: 4px solid #04c2c9;
    border-bottom: 4px solid #04c2c9;
    border-radius: 5px;
    height: 480px;
    width: 350px;
    box-shadow: 0 0 70px 10px #fff;
}

aside:hover header img {
    animation: profile_image 2000ms linear both;
    animation-delay: 0.5s;
}

header {
    text-align: center;
}

header h1 {
    position: relative;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    padding: 10px;
    transition: all ease 0.25s;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

aside:hover header h1 {
    margin-top: 0px;
    outline: 0 solid #fff;
    border-top: 0px solid #fff;
    border-bottom: 1px solid #fff;
}

header h2 {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 17px;
    font-weight: normal;
    line-height: 0px;
    margin: 0;
}

.profile-bio {
    margin-top: 20px;
    padding: 1px 20px 10px 20px !important;
    transition: all linear 1.5s;
    color: #fff;
    font-size: 14px;
    opacity: 0;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 49%, rgba(0, 0, 0, 0.61) 100%);
}

aside:hover .profile-bio {
    opacity: 1;
}

.profile-bio p {
    color: #fff;
}

.profile-bio p:first-child {
    text-align: center;
    font-size: 16px;
}

.profile-social-links {
    position: relative;
    margin-top: -440px;
    margin-left: -100px;
    list-style-type: none;
    opacity: 0;
    transition: all ease 0.5s;
}

aside:hover .profile-social-links {
    margin-left: -30px;
    opacity: 1;
}

.profile-social-links li img {
    width: 30px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    margin-left: 40px;
    margin-bottom: 10px;
}


/*PROFILE IMAGE ANIMATE */

@keyframes profile_image {
    0% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    3.4% {
        transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
        transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    6.81% {
        transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
        transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    10.21% {
        transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    13.61% {
        transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
        transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    17.52% {
        transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
        transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    21.32% {
        transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
        transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    25.23% {
        transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.03% {
        transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
        transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
        transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    36.74% {
        transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
        transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    44.44% {
        transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
        transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    59.86% {
        transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
        transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    75.28% {
        transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
        transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    90.69% {
        transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}


/*NAME ANIMATE */

aside:hover header h1 {
    animation: name_and_job 1500ms linear both;
    animation-delay: 0.4s;
}

@keyframes name_and_job {
    0% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
    }
    1.3% {
        transform: matrix3d( 3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1);
    }
    2.55% {
        transform: matrix3d( 4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1);
    }
    4.1% {
        transform: matrix3d( 4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1);
    }
    5.71% {
        transform: matrix3d( 3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1);
    }
    8.11% {
        transform: matrix3d( 1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1);
    }
    8.81% {
        transform: matrix3d( 1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1);
    }
    11.96% {
        transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1);
    }
    12.11% {
        transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);
    }
    15.07% {
        transform: matrix3d( 0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1);
    }
    16.12% {
        transform: matrix3d( 0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);
    }
    27.23% {
        transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);
    }
    27.58% {
        transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1);
    }
    38.34% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);
    }
    40.09% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1);
    }
    50% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1);
    }
    60.56% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
    }
    82.78% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

aside:hover ul li:first-child {
    animation: social_animation 2000ms ease-in-out both;
    animation-delay: 0.75s;
}

aside:hover ul li:nth-child(2) {
    animation: social_animation 2000ms ease-in-out both;
    animation-delay: 1s;
}

aside:hover ul li:nth-child(3) {
    animation: social_animation 2000ms ease-in-out both;
    animation-delay: 1.25s;
}

@keyframes social_animation {
    0% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
    }
    1.3% {
        transform: matrix3d( 3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1);
    }
    2.55% {
        transform: matrix3d( 4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1);
    }
    4.1% {
        transform: matrix3d( 4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1);
    }
    5.71% {
        transform: matrix3d( 3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1);
    }
    8.11% {
        transform: matrix3d( 1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1);
    }
    8.81% {
        transform: matrix3d( 1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1);
    }
    11.96% {
        transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1);
    }
    12.11% {
        transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);
    }
    15.07% {
        transform: matrix3d( 0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1);
    }
    16.12% {
        transform: matrix3d( 0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);
    }
    27.23% {
        transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);
    }
    27.58% {
        transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1);
    }
    38.34% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);
    }
    40.09% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1);
    }
    50% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1);
    }
    60.56% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
    }
    82.78% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

.mind-card-wrapper .card {
    cursor: pointer;
    border: unset;
}

.mind-card-wrapper .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.mind-card-wrapper .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.mind-card-wrapper .card:hover .face.face1 {
    background: #ff0057;
    transform: translateY(0);
}

.mind-card-wrapper .card .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}

.mind-card-wrapper .card:hover .face.face1 .content {
    opacity: 1;
}

.mind-card-wrapper .card .face.face1 .content img {
    max-width: 100px;
}

.mind-card-wrapper .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.mind-card-wrapper .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-100px);
}

.mind-card-wrapper .card:hover .face.face2 {
    transform: translateY(0);
}

.mind-card-wrapper .card .face.face2 .content p {
    margin: 0;
    padding: 0;
}

.mind-card-wrapper .card .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.mind-card-wrapper .card .face.face2 .content a:hover {
    background: #333;
    color: #fff;
}