.color-github {
  color: #2b2b2b;
  background-color: #fff;
}

.color-instagram {
  color: #fff;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.color-twitter {
  color: #1da1f2;
  background-color: #fff;
}
